$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$mobile-breakpoint: 320px;

// COLORS
$brainflix-black: #323232;
$brainflix-blue: #0095FF;
$brainflix-darkblue: #0065AD;
$darkblack:#000000;
$white:#FFFFFF;
$brainflix-silver: #AFAFAF;
$alabaster-white: #FAFAFA;
$mercurycolor: #E1E1E1;
$font:'avenir next'