@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.video-details {
  height: 80%;
  text-decoration: none;
  font-family: 'avenir next';
}
.video-recap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-decoration: none;
  flex-direction: column;
  @include tablet {
    margin-left: 1.25rem;
  }

  @include desktop {
    padding-left: 1.25rem;
    margin-right: 6.25rem;
    border-left: 1px solid $mercurycolor;
  }
}

.video-container {
  display: flex;
  align-items: center;
  margin: 0.625rem;
  @include tablet {padding-right: 25rem;}
  @include desktop {
    width: 110%;
    padding-right: 0;
  }
}

.video-img {
  width: 40vw;
  height: 6vh;
  border-radius: 10%;
  margin-right: 0.625rem;
  object-fit: cover;
  @include tablet {
    width: 15vw;
    height: 6vh;
  }
  @include desktop {
    width: 10vw;
    height: 6vh;
  }
}

.video-name {
  margin-top: 0;
  margin-bottom: 0;
}

.video-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 0.9375rem;
  margin-top: 0;
  font-size: 0.9375rem;
  color: $brainflix-black;
  font-weight: 700;
 @include tablet {font-weight: 600;}
}

.next-videos {
  color: $brainflix-silver;
  padding-left: 0.625rem;
  margin-bottom: 0.3125rem;
  font-family: 'avenir next';

  @include tablet {
    padding-left: 1.875rem;
    font-weight: 500;
  }
  @include desktop {
    margin-left: 0.5rem;
  }
}
.video_link {
  text-decoration: none;
  color: $brainflix-black;
}
.video_link:visited {
  text-decoration: none;
  color: $brainflix-black;
}
